<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title> Homepage</title>
  </head>
  <body>

  <div class="container">
      <h1> Homepage </h1>
    <div class="row bg-warning">

          {% for p in prod %}
          <div class="col-3">

            <div class="card" style="width: 18rem;margin-top:1rem;">
                  <img src="{{p.prod_image.url}}" class="card-img-top" alt="Product Image"
                     style="width:10rem;height:10rem;">
                  <div class="card-body">
                    <h3 class="card-title">{{p.prod_name}}</h3>
                    <h5 class="card-title text-danger">BDT {{p.prod_price}}</h5>
                    <p class="card-text">{{p.prod_desc | truncatechars:150}}</p>
                    <a href="{% url 'homeApp:prodDetail' p.id %}" class="btn btn-primary">View Detail {{ p.id }}</a>
                  </div>
            </div>
          </div>
          {% endfor %}
    </div>
  </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>